<!DOCTYPE html>
<html>
  <head>
    <title>LearnWords</title>

    <!-- LessThan Percent Equals csrf_meta_tags Percent GreaterThan-->
    <!-- ^^^ That line throws an error ^^^ -->

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
